.navbar {
  border-radius: 10px;
  height: 60px;
  padding: 0;
}

.navbar .container {
  height: 100%;
  padding-top: 2px;
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 22.5px;
  padding: 0 15px;
  margin: 0 5px;
  text-align: center;
  line-height: 50px;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-link.active {
  background-color: var(--color-primary);
  color: white;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .navbar-nav .nav-link {
    padding: 0 10px;
    margin: 0 3px;
    font-size: 0.9rem;
  }
}
