.container #recipes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container #recipes > *:nth-child(4),
.container #recipes > *:nth-child(5) {
grid-column: span 1;
}
.Modal {
    z-index: 1100; 
}